# Backend env (copiar como .env)
NODE_ENV=development
PORT=4000

# JWT
JWT_SECRET=___CAMBIA_ESTE_SECRET___

# MongoDB
MONGODB_URI=mongodb+srv://usuario:password@cluster/tu-db?retryWrites=true&w=majority

# Cloudinary (servidor)
CLOUDINARY_CLOUD_NAME=___TU_CLOUD_NAME___
CLOUDINARY_API_KEY=___TU_API_KEY___
CLOUDINARY_API_SECRET=___TU_API_SECRET___

# Firebase Admin (secreto)
FIREBASE_PROJECT_ID=___
FIREBASE_CLIENT_EMAIL=___
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\\n-----END PRIVATE KEY-----\n"

# OAuth (si aplicable)
GOOGLE_CLIENT_ID=___
GOOGLE_CLIENT_SECRET=___
